cmake-build-debug/*

.idea/*

temp-test/*

stubs/apache34464/example/*

stubs/apache34464/build/*

stubs/apache34464/inputs/*

stubs/apache34464/results.O0/*

stubs/apache34464/results.O2/*

stubs/apache34464/targets.O0/*

stubs/apache34464/targets.O2/*

stubs/apache34464/lib
